.container1{
    background-color:#e3f2fd ;
    margin: 30px 30px 30px 30px;
    justify-content: center; 
}
#git_container{
    margin-top: 10px;
    margin-left: 10px;
}
#submit{
    border: solid black 1px;
    margin-right: 10px;
    background-color: black;
    color: aliceblue;
}
.dark{
    padding-top: 10px;
    text-align: right;
}
.dark-mode {
    background-color: black !important;
    color: white;
}
#tel_container{
    margin-top: 10px;
    font-weight: 500;
}
#menu{
    display: flex;
}
#poste{
    font-weight: 500;
}
#name{
    font-weight: 800;
    font-size:20px ;
}
img{
    height: 220px;
    width: 240px;
    border-radius: 200px;
    margin: 20px auto;
    display: block;
}
.image_container{
    justify-content: center;
    margin: 0 auto;
}
li{
    list-style: none;
}
#portfolio{
    background-color: #00c853;
    border: none;
    font-weight: 500;
}
#myname_container ,#myskills_container{
    font-weight: 800;
}
#information_container{
    margin-top: 40px;
    padding-right: 40%;
    text-align: right;
    justify-content: center;
}
#download{
    color:#64ffda;
    background: none;
    border: solid 1px gray;
    border-radius: 5px;
}
.skills-bar{
    display: grid;
    
}
.skills-bar .bar{
    margin-top: 20px;
}
.skills-bar .bar .progress-line{
    height: 10px;
    width: 100%;
    background-color: rgb(73, 71, 71);
    position: relative;
    border-radius: 10px;
}

.progress-line span{
    height: 100%;
    width: 50%;
    background-color: #64ffda;
    position: absolute;
    border-radius: 10px;
}

.container2{
    margin: 30px 30px 30px 30px;
    padding-left: 20%;
    padding-right: 20%;
}
#reseau_container{
    display: flex;
    padding: 20px 0px 20px;
    justify-content: center;
}
.facebook ,.linkedin ,.mail ,.insta{
    margin-left: 20px;
    background-color: #64ffda;
    height: 100px;
    width: 100px;
    padding: 25px;
    border-radius: 60px;
}
.container3{
    margin: 30px 30px 30px 30px;
    padding-left: 20%;
    padding-right: 20%;
    background-color:#e3f2fd;
    display: block;
}
#education ,#experience {
   font-weight: 800;
   font-size: 20px;
   display: block;
}
